<h1>Listing properties</h1>
<% if user_signed_in? %>
  <%= link_to 'New Property', new_property_path, class: "btn btn-primary btn-success" %>
<% end %>
<br>
<br>
<br>
<div id="properties" class="transitions-enabled">
  <% @properties.each do |property| %>
    <div class="box panel panel-default">
      <%= image_tag property.image.url(:medium) %>
      <div class="panel-body">
        <%= property.title %>
        <%= property.price %>
        <%= property.landlord_rating %>
        <%= property.additional %>
        <%= property.user.email if property.user %>
        <%= link_to 'Show', property_path(property) %>
        <% if property.user == current_user %>
          <%= link_to 'Edit', edit_property_path(property) %>
          <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </div>
  <% end %>
</div>