<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Landlord rating:</strong>
  <%= @property.landlord_rating %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @property.additional %>
</p>

<% if @property.user == current_user %>
	<%= link_to 'Edit', edit_property_path(@property) %> |
<% end %>
<%= link_to 'Back', properties_path %>
